@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}


.submit-button {
  position: absolute;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 250px;
  height: 115px;
}


.info-container {
  margin-top: 5%;
  margin-left: 5%;
  background-color: red;
  border: 2px solid black;
  min-height: 400px;
  width: 200px;
}
